:root {
  --main-color: #f03434;
  --background-color: #e8e8e8;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-style: normal;
}

h1,
span,
input {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

button {
  color: none;
  background: none;
}

body {
  background-color: var(--main-color);
}

.header {
  height: 30vh;
  text-align: center;
}

.header h1 {
  padding-top: 60px;
  font-weight: 300;
  font-size: 1.625em;
}

main {
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  border-radius: 20px 20px 0 0;
  height: 70vh;
  padding: 50px;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.campo-jogador {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.campo-jogador input {
  width: 230px;
  height: 40px;
  border-radius: 20px;
}

.campo-jogador .total-fatias {
  position: relative;
  left: -35px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--main-color);
  text-align: center;
  padding: 8px 0 6px 0;
}

.campo-jogador input {
  color: #000;
  font-weight: 400;
  font-size: 1.375em;
  text-align: center;
}

.btn {
  margin: 60px auto;
}

.btn-menos {
  padding-right: 10px;
}

.btn-mais {
  position: relative;
  left: -25px;
}
